doctype.html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    
    title Frane's StartedKit
    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='build/img/favicon.ico')

    // awesome font
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    
    
    // custom css style
    link(rel='stylesheet', href='build/css/main.min.css')
    
  

    body
        include includes/preloader.jade
        
        .wrapper
          include includes/home-page.jade
      
        // all javascript from gulp task 'scripts'
        script(src='build/js/all.js')
        script(type='text/javascript').
          $(window).on("load",function(){
          $('.preloader').delay(500).fadeOut("slow").remove();
          $('.intro').fadeIn("slow");
          });
        
