section#header
  .container
    .header-heading
      h1 My Starter Kit
      p With Sass, Jade, Gulp, Bower, Bourbon 
      
  .sky
    img(src="assets/img/cloud.png" class="cloud")
    img(src="assets/img/cloud.png" class="cloud")
    img(src="assets/img/cloud.png" class="cloud")
    img(src="assets/img/cloud.png" class="cloud")
    img(src="assets/img/cloud.png" class="cloud")
  
  .ufo-wrapper
    img(src="assets/img/ufo.svg" class="ufo")
  
  .buildings
    img(src="assets/img/alien.svg" class="alien")
    img(src="assets/img/cityscape.svg" class="building")
    

  

    
    
