section#header
  .container
    .header-heading
      h1 My Starter Kit
      p With Sass, Jade, Gulp, Bower, Bourbon 
      
  .sky
  
  .ufo-wrapper
    img(src="assets/img/ufo.svg" class="ufo")
  
  .buildings
    img(src="assets/img/townhouse.svg" class="building")
    

  

    
    
