section#header
  .container
    .header-heading
      h1 My Starter Kit
      p With Sass, Jade, Gulp, Bower, Bourbon 
      
  .dolphin-wrapper
    img(src="assets/img/dolphin.svg" class="dolphin")
  
  

  

    
    
